.footer {
  &-top {
    padding: 150px 0;
    background-color: $gray-dark;

    @include tablet {
      padding: 100px 0;
    }

    @include tablet {
      padding: 50px 0;
    }
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 130px;

    @include tablet {
      grid-template-columns: 2fr 2fr;
      gap: 50px 100px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 50px 0;
    }
  }

  &-logo {
    margin-bottom: 40px;
  }

  &-desc {
    line-height: lineH(16, 30);
    margin-bottom: 40px;
    color: $gray-lighter-text;
  }

  &-socials {
    display: flex;
    align-items: center;
    gap: 0 30px;
    font-size: 16px;

    a {
      color: $gray-lighter-text;
    }
  }

  &-title {
    color: white;
    margin-bottom: 40px;
  }

  &-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }

  &-link {
    text-decoration: none;
    color: $gray-lighter-text;
    line-height: lineH(16, 30);
  }

  &-info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &-bottom {
    background-color: $gray-darker;
    color: $gray-lighter-text;

    a {
      color: white;
    }

    &-container {
      padding-top: 65px;
      padding-bottom: 65px;
      position: relative;

      @include tablet {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @include mobile {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }

  &-copyright {
    line-height: lineH(16, 30);
  }

  &-button {
    font-size: 18px;
    color: white;
    background-color: $blue-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
