.hero {
  position: relative;
  margin-bottom: 200px;

  @include tablet {
    margin-bottom: 100px;
  }

  &-img {
    margin-left: auto;
    max-width: 64.7%;

    @include mobile {
      max-width: 85%;
    }
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 2;

    @include mobile {
      left: 15px;
    }
  }

  &-caption {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 20px;
    color: $gray;

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &-heading {
    font-size: 150px;
    text-transform: uppercase;
    color: $gray;
    margin-bottom: 50px;

    @include tablet {
      font-size: 100px;
    }

    @include mobile {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }

  &-link {
    color: $gray-light;
    text-decoration: underline;
    font-weight: 600;
  }
}
